@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(203 213 225);
}
.btn-hover{
    opacity: 95%
} 
.btn-hover:hover{
    opacity: 2;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
